body {
  background: -webkit-linear-gradient(left, #25c481, #25b7c4);
  background: linear-gradient(to right, #25c481, #25b7c4);
}

.search {
  padding: 10px;
  font-size: 20px;
}

.app {
  margin: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 800px;
}


table {
  width: 100%;
  table-layout: fixed;
}

tbody {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

tr {
  width: 100%;
}

th,
td {
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 17px;
  color: black;
}